{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}


<video autoplay muted loop id="bg-video">
  <source src="{% static 'images/moodything.mp4' %}" type="video/mp4">
  Your browser does not support the video tag.

</video>
<hr>

{# DELETE the entire login form section below #}
{# {% if not user.is_authenticated %} #}
{# <section style="display: flex; justify-content: center; margin-right: 310px; margin-top: 300px"> #}
  {# <form action="{% url 'home' %}" method="post" class="login" style="display: inline-block; text-align: left;"> #}
    {# <h1 style="color: #000000">Login</h1> #}
    {# {% csrf_token %} #}
    {# {{ form.as_p }} #}
    {# <input type="hidden" name="next" value="{{ next }}" /> #}
    {# <button type="submit" class="btn submit">Login</button> #}
    {# </form> #}
  {# </section> #}
{# {% endif %} #}

{% endblock %}